@model ShopMVC8.ViewModels.QuanliHangHoaVM

<h1>Xóa Sản Phẩm</h1>

<div>
    <h4>Thông tin sản phẩm:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaHh)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenHh)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hinh)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
       
        <form method="post" asp-action="DeleteConfirmed" asp-controller="AdminCategory">
            <input type="hidden" name="id" value="@Model.MaHh" />
            <p>Bạn có chắc chắn muốn xóa sản phẩm này?</p>
            <button type="submit" class="btn btn-danger">Xác nhận xóa</button>
            <a asp-action="Delete" asp-controller="AdminCategoryController" class="btn btn-secondary">Hủy</a>
        </form>
    </dl>
</div>
